@model Automarket.Domain.ViewModels.User.UserViewModel

<form id="formSaveUser">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="@Model.Name" class="col-form-label text-black-50"></label>
            <input asp-for="@Model.Name" type="text" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Password" class="col-form-label text-black-50"></label>
            <input asp-for="@Model.Password" type="password" class="form-control" />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="@Model.Role" class=""></label>
            <select asp-for="@Model.Role" class="custom-select" id="userRoleId"></select>
        </div>
    </div>
</form>

<style>
    /* Style for the dropdown container */
    .select2-container {
        z-index: 9999; /* Set a high z-index value to bring it on top of other elements */
    }

    /* Style for the dropdown dropdown list */
    .select2-dropdown {
        z-index: 10000; /* Set a higher z-index value to bring it on top of other elements */
    }
</style>

<script src="~/lib/select2/js/select2.full.min.js"></script>
<script>
   $('#userRoleId').select2({
       placeholder: "Choose a role",
       minimumInputLength: 0,
       allowClear: true,
       ajax: {
           type: "POST",
           url: "@Url.Action("GetRoles", "User")",
           dataType: "json",
           processResults: function (result) {
               return {
                   results: $.map(result, function (val, index) {
                       return {
                           id: index,
                           text: val
                       };
                   }),
               };
           }
       }
   });
</script>